{% extends 'base.html' %}
{% block title %}Кружки{% endblock title %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <title>Кружки</title>
</head>
<body>
    {% block content %}
    <div class="active-table-container">
        <h2>Кружки</h2>
        <table id="active-table" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Классы</th>
                    <th scope="col">Время Занятия</th>
                    <th scope="col">Кабинет</th>
                    <th scope="col">Преподаватель</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td aria-label="Название" class="text-width"><a class="active-links" href="{% url 'active-robotics' %}">Робототехника, старшая группа</a></td>
                    <td aria-label="Классы">5-11</td>
                    <td aria-label="Время Занятия">Пн 15:50-17:30, Пт 15:50-17:30</td>
                    <td aria-label="Кабинет">9</td>
                    <td aria-label="Преподаватель">Малышева И.А.</td>
                </tr>

                <tr>
                    <td aria-label="Название" class="text-width"><a class="active-links" href="{% url 'active-geoinformatics' %}">Геоинформатика</a></td>
                    <td aria-label="Классы">7-8</td>
                    <td aria-label="Время Занятия">Пн 15:40-17:10, Ср 15:40-17:10</td>
                    <td aria-label="Кабинет">9</td>
                    <td aria-label="Преподаватель">Малышева И.А.</td>
                </tr>

                <tr>
                    <td aria-label="Название" class="text-width"><a class="active-links" href="{% url 'active-robotics' %}">Робототехника, младшая группа</a></td>
                    <td aria-label="Классы">1-4</td>
                    <td aria-label="Время Занятия">Пн 14:00-15:40, Пт 14:00-15:40</td>
                    <td aria-label="Кабинет">9</td>
                    <td aria-label="Преподаватель">Малышева И.А.</td>
                </tr>

                <tr>
                    <td aria-label="Название" class="text-width" class="text-width"><a class="active-links" href="{% url 'active-promdesign' %}">Промышленный дизайн</a></td>
                    <td aria-label="Классы">5б, 5в, 5а</td>
                    <td aria-label="Время Занятия">Вт 12:15-12:50, Чт 13:00-13:35</td>
                    <td aria-label="Кабинет">9</td>
                    <td aria-label="Преподаватель">Малышева И.А.</td>
                </tr>

                <tr>
                    <td aria-label="Название" class="text-width"><a class="active-links" href="{% url 'active-virtualreality' %}">Виртуальная и дополненная реальность</a></td>
                    <td aria-label="Классы">6</td>
                    <td aria-label="Время Занятия">Сб 12:30-13:50</td>
                    <td aria-label="Кабинет">9</td>
                    <td aria-label="Преподаватель">Малышева И.А.</td>
                </tr>

                <tr>
                    <td aria-label="Название" class="text-width"><a class="active-links" href="{% url 'active-programming' %}">Программирование</a></td>
                    <td aria-label="Классы">8</td>
                    <td aria-label="Время Занятия">Ср 15:00-16:30</td>
                    <td aria-label="Кабинет">18</td>
                    <td aria-label="Преподаватель">Бекетова Т.И.</td>
                </tr>

                <tr>
                    <td aria-label="Название" class="text-width"><a class="active-links" href="{% url 'active-photo-video' %}">Фото и видиосъёмка</a></td>
                    <td aria-label="Классы">5-9</td>
                    <td aria-label="Время Занятия">Вт 14:30-16:00, Пт 14:30-16:00</td>
                    <td aria-label="Кабинет">18</td>
                    <td aria-label="Преподаватель">Бекетова Т.И.</td>
                </tr>
                
                <tr>
                    <td aria-label="Название" class="text-width"><a class="active-links" href="{% url 'active-chess' %}">Шахматы</a></td>
                    <td aria-label="Классы">3-7</td>
                    <td aria-label="Время Занятия">Чт 13:00-14:20</td>
                    <td aria-label="Кабинет">9</td>
                    <td aria-label="Преподаватель">Седов К.И.</td>
                </tr>

                <tr>
                    <td aria-label="Название" class="text-width"><a class="active-links" href="{% url 'active-objz' %}">ОБЖ</a></td>
                    <td aria-label="Классы">4</td>
                    <td aria-label="Время Занятия">Пн 13:45-14:20</td>
                    <td aria-label="Кабинет">10</td>
                    <td aria-label="Преподаватель">Дунаев А.П.</td>
                </tr>
        </table>
        {% if user.is_superuser %}
        {% else %}
            <a href="{% url 'profile' %}" class="btn btn-dark">Записаться</a>
        {% endif %}
    </div>


    {% endblock content %}
</body>
</html>