{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}
    <title>Новости</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 left">
                <div class="card mb-4">
                    <div class="card-body-detail">
                        <h1>{% block title %} {{ news.title }} {% endblock title %}</h1>
                        <p class="text-muted"> {{ news.date }}</p>
                        <img src="{{ news.image.url }}" class="image-post-detail" alt="Image" width="100%">
                        <p class="card-text" id="post-detail-text-image">{{ news.body }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 float-right">
                <div class="card my-4">
                    <h5 class="card-header">Больше Действий</h5>
                    <div class="card-body">
                        {% if user.is_superuser %}
                            <div class="side-bar-buttons">
                                <a href="{% url 'news' %}" class="btn btn-danger">Все новости</a>
                                <a href="{% url 'post_edit' news.pk %}" class="btn btn-danger">Редактировать</a>
                                <a href="{% url 'post_delete' news.pk %}" class="btn btn-danger">Удалить</a>
                            </div>

                        {% else %}
                            <div class="side-bar-buttons">
                                <a href="{% url 'news' %}" class="btn btn-dark">Все новости</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
</body>
</html>