*{
    font-size: 18px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-index {
    margin-top: 20px;
    min-height: 500px;
    position: relative;
}

.index-container {
    display: flex;
    flex-direction: row;
    min-height: 400px;
    justify-content: space-around;
    margin-bottom: 40px;
}

.index-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 60%;
}

.index-images-activities {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
}

.index-images-active-1, .index-images-active-2 {
    width: 100%;
    border-radius: 5px;
    height: auto;
}

.first-images-1, .first-images-2, .first-images-3,
.two-images-1, .two-images-2, .two-images-3 {
    position: relative;
    z-index: 1;
}

.history-images {
    position: relative;
    align-items: center;
    min-height: 600px;
}

.avtorization>form>input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.avtorization {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.input>form>input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.main {
    margin-top: 100px;
    align-items: center;
}

.history-holder {
    display: flex;
    justify-content: space-between;
}

.first-main-index{
    margin-right: 600px;
    text-align: center;
}

.two-main-index{
    margin-right: 0px;
    text-align: center;
}

.index-h-p-text {
    text-align: center;
}

@media (max-width: 700px) {
    .index-container {
        flex-direction: column;
        min-height: auto;
    }

    .index-text {
        margin-left: 5%;
        width: 90%;
    }

    .index-images-activities {
        margin-left: 5%;
        width: 90%;
        margin-top: 20px;
    }
    
    .first-images-1, .first-images-2, .first-images-3,
    .two-images-1, .two-images-2, .two-images-3 {
        position: relative !important;
        top: auto !important;
        right: auto !important;
        margin: 10px 0;
    }
}